<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>日报生成</title>
</head>

<body>
	<div id="app" v-cloak>


		<div style="display: flex; align-items: center; gap: 20px">

			<input v-model="target_date" type="date" />

			<button @click="generateDialy">生成日报</button>

			<button @click="show_prompt =! show_prompt"> {{!show_prompt ? '查看': '隐藏'}}prompt</button>

		</div>

		<div v-if="show_form" style="display: flex; flex-direction: column">

			<div>
				<label for="username">git用户名</label><input v-model="form.username" id="username" type="text">
			</div>

			<div>
				<label for="repo_url">git仓库地址</label><input v-model="form.repo_url" id="repo_url" type="text">
			</div>

			<div>
				<label for="branch">分支名</label><input v-model="form.branch" id="branch" type="text">
			</div>

			<div>
				<button @click="submitUserRepo">保存</button>
			</div>

		</div>

		<div style="margin-top: 16px" v-if="prompt && show_prompt">
			<textarea v-model="prompt"
				style="width: 800px; height: 200px;font-size: 14px; font-family: monospace; border: 1px solid #ccc; padding: 10px; box-sizing: border-box;">
			</textarea>
			<button @click="updatePrompt">更新prompt</button>
		</div>



		<ul>
			<li v-for="(item, index) in report_list" :key="index">
				{{item.date}}
				<pre>{{item.content}}</pre>
			</li>
		</ul>
	</div>

	<script type="module">
		import {
			createApp,
			ref,
			watch,
		} from "./js/vue.esm-browser.min.js";

		createApp({
			setup() {

				const target_date = ref('')
				const report_list = ref([])
				const user_list = ref([])
				const user_id = ref()

				const prompt = ref('')
				const show_prompt = ref(false)
				const show_form = ref(false)

				const form = ref({
					username: '',
					repo_url: '',
					branch: ''
				})

				const generateDialy = () => {
					fetch(`/api/daily`, {
						method: "POST",
						body: JSON.stringify({
							date: target_date.value,
						}),
						headers: {
							"Content-Type": "application/json",
						},
					}).then((res) => res.json()).then((res) => {
						if (res.detail) {
							alert(JSON.stringify(res.detail))
							return
						}
						getReportList()
					}).catch((err) => {
						console.error(err)
					})
				}

				const getUserList = () => {
					fetch(`/api/users`).then((res) => res.json()).then((res) => {
						user_list.value = res
					})
				}


				const getReportList = () => {
					fetch(`/api/reports`, {
						method: "GET",
						headers: {
							"Content-Type": "application/json",
						},
					}).then((res) => res.json()).then((res) => {
						report_list.value = res
					})
				}

				getReportList()

				const downloadRepos = () => {
					fetch(`/api/download-repos`, {
						method: "POST",
					}).then(res => res.json()).then(res => {
						console.log(res)
					})
				}

				const getPrompt = () => {
					fetch(`/api/prompt`).then(res => res.json()).then(res => {
						console.log(res)
						prompt.value = res.prompt
					}).catch(err => {
						console.error(err)
					})
				}

				const updatePrompt = () => {
					fetch('/api/prompt-update', {
						method: 'POST',
						body: JSON.stringify({
							prompt: prompt.value
						}),
						headers: {
							"Content-Type": "application/json",
						},
					}).then(res => res.json()).then(res => {
						if (res.detail) {
							alert(JSON.stringify(res.detail))
							return
						}
					}).catch(err => {
						console.error(err)
					})
				}

				const handleUserRepoAdd = () => {
					show_form.value = true
				}

				const submitUserRepo = () => {
					fetch('/api/user-repo', {
						method: 'POST',
						body: JSON.stringify(form.value),
						headers: {
							"Content-Type": "application/json",
						},
					}).then(res => res.json()).then(res => {
						console.log(res)
					})
				}



				getUserList()
				getPrompt()

				return {
					generateDialy,
					target_date,
					report_list,
					user_list,
					user_id,
					downloadRepos,
					prompt,
					getPrompt,
					show_prompt,
					updatePrompt,
					show_form,
					handleUserRepoAdd,
					submitUserRepo,
					form
				};
			},
		}).mount("#app");
	</script>
</body>

</html>