<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>日报生成</title>
</head>

<body>
	<div id="app" v-cloak>

		{{target_date}}

		<input v-model="target_date" type="date" />

		<button @click="generateDialy">生成日报</button>


		<ul>
			<li v-for="(item, index) in report_list" :key="index">
				<pre>{{item.content}}</pre>
			</li>
		</ul>
	</div>

	<script type="module">
		import {
			createApp,
			ref,
		} from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

		createApp({
			setup() {

				const target_date = ref('')

				const generateDialy = () => {
					fetch(`/daily?date=${target_date.value}`, {
						method: "GET",
						headers: {
							"Content-Type": "application/json",
						},
					}).then((res) => res.json()).then((res) => {
						getReportList()
					})
				}

				const report_list = ref([])

				const getReportList = () => {
					fetch(`/list`, {
						method: "GET",
						headers: {
							"Content-Type": "application/json",
						},
					}).then((res) => res.json()).then((res) => {
						report_list.value = res
					})
				}

				getReportList()

				return {
					generateDialy,
					target_date,
					report_list
				};
			},
		}).mount("#app");
	</script>
</body>

</html>